<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Sistemas</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/vistaSistemas.css">
</head>
<body>
    
    <header>
        <img src="../assets/img/logo-fesepsa.png" alt="" class="logo">
        <h3 class="logo-text">Sistemas Fesepsa C-A-F</h3>
    </header>
    
   <main class="contenedor">
    <aside class="column column-30">
        <ul class="lista-items">
          <li><a href="#" id="btnAbrirModal">Agregar Tarea</a></li>
          <li><a href="#" id="btnTareaPendiente">Tareas Pendientes</a></li>
          <li><a href="#" id="btnTareaCompletada">Tareas Completadas</a></li>
          <li><a href="#" id="btnEstadisticos">Estadísticos</a></li>
          <li><a href="#" id="generarExcel">Generar Excel</a></li>
          <li><a href="./sistemas.html" id="">Volver a vista anterior</a></li>
        </ul>
        <div class="footer">
          <h2>Todos los derechos reservados © | C | A | F ~ 2023 V.1.0</h2>
      </div>
    </aside>
    <section class="column column-70">

        <div class="container">
            <table id="dataExcel">
              <thead>
                <tr>
                  <th>Requerimiento</th>
                  <th>Metodología</th>
                  <th >Observación</th>
                  <th>Fecha Registro</th>
                  <th>Hora</th>
                  <th>Estado</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody id="cajaRequerimientosSistemas" class="delimitador">
                <!-- Filas según sea necesario -->
              </tbody>
            </table>
          </div>
           
         
    </section>
</main>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="closeModal">&times;</span>
        <h2>Agregar Tarea Pendiente</h2>
        <div class="container-modal">
             <input type="text" name="" id="inpRequerimiento" placeholder="Requerimiento"  autocomplete="off" >
             <input type="text" name="" id="inpMetodologia" placeholder="Metodología"   autocomplete="off">
             <textarea name="" id="inpObservacion" cols="30" rows="10" placeholder="Observación" autocomplete="off"></textarea>
        </div>
        <button id="btnAgregarTarea">Añadir Tarea</button>
    </div>
</div>

<script type="module" src="../crud/sistemasRequerimientos.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

</body>
</html>